*, *::after, *::before {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}


body {
    font-size: 1.2rem;
}

.game_board {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}

#gamesboards_container {
    display: flex;
    gap: 2em;
    justify-content: space-between;
    max-width: 500px;
}

.block {
    width: 20px;
    height: 20px;
    border: 1px solid black;
}


.options_container {
    width: 500px;
    height: 80px;
    background-color: limegreen;
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 1em 0;
}

.destroyer {
    background-color: black;
}

.submarine {
    background-color: blue;
}

.cruiser {
    background-color: yellow;
}

.carrier {
    background-color: orange;
}

.battleship {
    background-color: rgb(207, 6, 191);
}

.destroyer_preview {
    width: 20px;
    height: 10px;
    margin: 3px;

}

.submarine_preview {
    width: 30px;
    height: 10px;
    margin: 3px;
}

.cruiser_preview {
    width: 30px;
    height: 10px;
    margin: 3px;
}


.carrier_preview {
    width: 50px;
    height: 10px;
    margin: 3px;
}


.battleship_preview {
    width: 40px;
    height: 10px;
    margin: 3px;
}

.hover, .empty {
    background-color: grey;
}

.boom {
    background-color: red;
}